[build]
builder = "nixpacks"

[deploy]
startCommand = "cd backend/backend-chatbot-lstm-main && pip install -r requirements.txt && python manage.py migrate && python manage.py collectstatic --noinput && gunicorn backend.wsgi:application --bind 0.0.0.0:$PORT"
